Repository elitdr/elitdr.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs,mts,cts}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,vue}": ["stylelint --fix", "prettier --write"],
  "*.{json,md,yml,yaml,html}": ["prettier --write"],
  "*.vue": ["eslint --fix", "stylelint --fix", "prettier --write"]
}

feat: 初始化个人主页
  .vitepress/config.mts
  .vitepress/theme/index.ts
  index.md
  src/article/api-examples.md
  src/article/markdown-examples.md
  src/index.md
  src/public/avatar.png
Due: eslint --fix, prettier --write

docs(article): 添加创建个人主页教程
  src/article/create-your-homepage/0.png
  src/article/create-your-homepage/index.md
  src/index.md
Due: prettier --write

docs(article): 添加代码规范系列文档
  .vitepress/config.mts
  src/article/code-standard/commitlint.md
  src/article/code-standard/eslint.md
  src/article/code-standard/husky.md
  src/article/code-standard/lint-staged.md
  src/article/code-standard/prettier.md
  src/article/code-standard/stylelint.md
  src/index.md
Due: eslint --fix, prettier --write

docs(note): 添加 Docker 使用说明文档
  src/note/docker.md
Due: prettier --write

docs(note): 添加面试题整理笔记
  src/note/interview.md
Due: prettier --write

docs(note): 添加 Ubuntu 系统使用说明文档
  src/note/ubuntu.md
Due: prettier --write

build(deps): 将 typescript 从 dev 依赖更改为 devOptional 依赖
  package-lock.json
Due: prettier --write

docs: 更新网站结构和内容
  .vitepress/config.mts
  src/article/api-examples.md
  src/article/code-standard/index.md
  src/article/create-your-own-personal-homepage/0.png
  src/article/create-your-own-personal-homepage/index.md
  src/article/index.md
  src/article/markdown-examples.md
  src/index.md
  src/note/index.md
  src/personal-profile/index.md
  src/project/index.md
Due: eslint --fix, prettier --write

docs(article): 更新文章链接地址
  src/article/index.md
Due: prettier --write

build(vitepress): 添加图标插件并配置相关依赖
  .vitepress/config.mts
  .vitepress/theme/index.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

docs(note): 重构 Docker 笔记
  src/note/docker.md
Due: prettier --write

feat(theme): 添加文档标题自动编号功能
  .vitepress/theme/custom.css
  .vitepress/theme/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs(note): 更新 Docker 常用命令文档
  src/note/docker.md
Due: prettier --write

docs(note): 更新面试笔记
  src/note/interview.md
Due: prettier --write

docs(note): 更新笔记结构并添加 ncc 相关文档
  src/note/index.md
  src/note/ncc.md
  src/note/ubuntu.md
Due: prettier --write

docs: 更新侧边栏配置
  .vitepress/config.mts
Due: eslint --fix, prettier --write

style(vitepress): 更新文档页面样式
  .vitepress/theme/custom.css
Due: prettier --write, stylelint --fix

docs: 更新网站配置和文档样式
  .vitepress/config.mts
  src/article/code-standard/commitlint.md
  src/article/code-standard/eslint.md
  src/article/code-standard/husky.md
  src/article/code-standard/index.md
  src/article/code-standard/lint-staged.md
  src/article/code-standard/prettier.md
  src/article/code-standard/stylelint.md
  src/article/create-your-own-personal-homepage/index.md
  src/article/index.md
  src/note/docker.md
  src/note/index.md
  src/note/interview.md
  src/note/ncc.md
  src/note/ubuntu.md
  src/personal-profile/index.md
  src/project/index.md
Due: eslint --fix, prettier --write

docs(project): 更新项目索引页面顺序
  src/project/index.md
Due: prettier --write

docs(code-standard): 添加代码规范总览文档
  .vitepress/config.mts
  src/article/code-standard/index.md
Due: eslint --fix, prettier --write

docs(note): 更新 Docker 文档
  src/note/docker.md
  src/note/index.md
Due: prettier --write

docs(article): 补充 git commit 跳过钩子检查选项说明
  src/article/code-standard/husky.md
Due: prettier --write

docs(note): 添加 Next.js 相关文档
  src/note/index.md
  src/note/next.md
Due: prettier --write

docs(note): 更新 ncc 使用说明并调整目录顺序
  src/note/index.md
  src/note/ncc.md
Due: prettier --write

docs(note): 添加 dotenv、dotenv-cli 和 cross-env 相关文档
  src/note/cross-env.md
  src/note/dotenv-cli.md
  src/note/dotenv.md
  src/note/index.md
Due: prettier --write

docs(note): 重构笔记结构并新增内容
  src/note/index.md
  src/note/interview.md
  src/note/javascript.md
  src/note/react.md
  src/note/redux.md
  src/note/typescript.md
  src/note/vue.md
Due: prettier --write

docs(note): 添加微信小程序开发指南
  src/note/index.md
  src/note/weapp.md
Due: prettier --write

docs(note): 添加 MySQL 笔记
  src/note/index.md
  src/note/mysql.md
Due: prettier --write

docs(note): 更新待处理文档列表
  src/note/index.md
Due: prettier --write

refactor: 优化环境变量相关笔记的 URL 格式
  src/note/index.md
Due: prettier --write

docs(article): 更新代码规范文档
  src/article/code-standard/index.md
Due: prettier --write

docs(notes): 更新小程组件生命周期函数描述
  src/note/weapp.md
Due: prettier --write

refactor(notes): 重构笔记分类和目录结构
  src/note/back-end/docker.md
  src/note/back-end/mysql.md
  src/note/back-end/ubuntu.md
  src/note/front-end/environment/cross-env.md
  src/note/front-end/environment/dotenv-cli.md
  src/note/front-end/environment/dotenv.md
  src/note/front-end/interview.md
  src/note/front-end/javascript.md
  src/note/front-end/mini-program/weapp.md
  src/note/front-end/ncc.md
  src/note/front-end/next/index.md
  src/note/front-end/typescript.md
  src/note/front-end/vue/index.md
  src/note/index.md
  src/note/interview.md
Due: prettier --write

refactor(front-end): 重构前端笔记结构并添加 JavaScript 数组和对象相关知识
  src/note/front-end/interview.md
  src/note/front-end/javascript/array/common-methods/concat.md
  src/note/front-end/javascript/array/common-methods/from.md
  src/note/front-end/javascript/array/common-methods/is-array.md
  src/note/front-end/javascript/array/index.md
  src/note/front-end/javascript/index.md
  src/note/front-end/javascript/object/common-methods/assign.md
  src/note/front-end/javascript/object/common-methods/entries.md
  src/note/front-end/javascript/object/common-methods/group-by.md
  src/note/front-end/javascript/object/common-methods/has-own.md
  src/note/front-end/javascript/object/common-methods/keys.md
  src/note/front-end/javascript/object/common-methods/values.md
  src/note/front-end/javascript/object/index.md
  src/note/index.md
Due: prettier --write

docs(front-end): 重构 React 相关文档
  .vitepress/config.mts
  src/note/front-end/react/components/bast-practice.md
  src/note/front-end/react/components/hooks.md
  src/note/front-end/react/components/q&a.md
  src/note/front-end/react/index.md
  src/note/front-end/react/react-router.md
  src/note/front-end/react/redux.md
  src/note/index.md
  src/note/react.md
  src/note/redux.md
Due: eslint --fix, prettier --write

refactor(front-end): 更新 React 笔记内部链接并修复 Q&A 文件引用
  src/note/front-end/react/components/bast-practice.md
  src/note/front-end/react/components/hooks.md
  src/note/front-end/react/components/q&a.md
  src/note/front-end/react/index.md
Due: prettier --write

style: 优化项目展示相关
  .vitepress/config.mts
  .vitepress/theme/custom.css
Due: eslint --fix, prettier --write, stylelint --fix

docs: 添加 React Native 相关文档
  src/note/react-native.md
Due: prettier --write

style: 更新文档列表样式
  .vitepress/theme/custom.css
Due: prettier --write, stylelint --fix

refactor: 增加本地搜索功能，修改markdown容器标题
  .vitepress/config.mts
Due: eslint --fix, prettier --write
